<header>
  <h1 class="header-title">
    Sell My Items
  </h1>
  <ul class="header-navigation">
    <li class="header-navigation-item" *ngIf="part === 1 || (part >= 3 && isAuth)">
      <a class="header-link" routerLink="/{{ partString }}/all-stuff" routerLinkActive="active">ITEMS FOR SALE</a>
    </li>
    <li class="header-navigation-item" *ngIf="part === 1 || (part >= 3 && isAuth)">
      <a class="header-link" routerLink="/{{ partString }}/new-thing" routerLinkActive="active">SELL AN ITEM</a>
    </li>
    <li class="header-navigation-item" *ngIf="(part >= 3 && isAuth)">
      <a class="header-link" style="cursor: pointer" (click)="onLogout()">LOG OUT</a>
    </li>
    <li class="header-navigation-item" *ngIf="(part >= 3 && !isAuth)">
      <a class="header-link" routerLink="/{{ partString }}/auth/login" routerLinkActive="active">CONNECTION</a>
    </li>
    <li class="header-navigation-item" *ngIf="(part >= 3 && !isAuth)">
      <a class="header-link" routerLink="/{{ partString }}/auth/signup" routerLinkActive="active">REGISTRATION</a>
    </li>
  </ul>
  <ul class="header-navigation nav-end">
    <li class="header-navigation-item font-italic">
      <a class="header-link" style="cursor:pointer" (click)="onBackToParts()">BACK TO INDEX</a>
    </li>
  </ul>
</header>
<div class="hero-image" *ngIf="mode === 'list'">
  <h2 class="hero-text">
    THE BEST PLACE TO SELL YOUR ITEMS
  </h2>
</div>
